branches:
  only:
    - master
language: java
services:
  - docker
jdk:
  - openjdk7
sudo: enabled
before_install:
  - docker pull quboleinc/hadoop_mvn_thrift
install: true
script: docker run -it --rm -v "$PWD":/usr/src/rubix -v "$HOME/.m2":/root/.m2 $ci_env -w /usr/src/rubix quboleinc/hadoop_mvn_thrift /bin/bash script.sh
env:
  - ci_env=`bash <(curl -s https://codecov.io/env)`
