#!/bin/bash -e

d=`dirname $0`
d=`cd "$d"; pwd`

RUN_DIR=/var/run/rubix
PID_FILE_BKS=${RUN_DIR}/bks.pid
PID_FILE_LDS=${RUN_DIR}/lts.pid

LOG_DIR=/var/logs/rubix
LOG4J_PROPS_BKS=/etc/rubix/log4j.properties
LOG4J_PROPS_LDS=/etc/rubix/log4j_lds.properties

#Getting the flag for Master or Worker
is_master="$2" 
# increase mmap system limit
sudo sysctl -w vm.max_map_count=200000

usage() {
  echo "Usage: $0"
  echo "$1"
  echo "start and stop the Cache BookKeeper Server, Mention True for Master and False for Worker"
  echo "$0 [start|stop] [True|False]"
  exit $2
}

start() {
  export HADOOP_CLASSPATH="$HADOOP_CLASSPATH:/usr/lib/rubix/lib/*"

  # Start BookKeeper Server
  export HADOOP_OPTS="-Dlog4j.configuration=file://${LOG4J_PROPS_BKS}"
  ulimit -n 100000
  if [[ $is_master == True ]]; then
        nohup $HADOOP_HOME/bin/hadoop jar /usr/lib/rubix/lib/rubix-bookkeeper-*.jar com.qubole.rubix.bookkeeper.BookKeeperServer \
            -conf /etc/rubix/rubix-site.xml \
            -Drubix.cluster.on-master=true &
  else
        nohup $HADOOP_HOME/bin/hadoop jar /usr/lib/rubix/lib/rubix-bookkeeper-*.jar com.qubole.rubix.bookkeeper.BookKeeperServer \
            -conf /etc/rubix/rubix-site.xml &
  fi
  PID_BKS=$!
  echo ${PID_BKS} > ${PID_FILE_BKS}
  echo "Starting Cache BookKeeper server with pid ${PID_BKS}"

  # Start LocalDataTransferServer
  export HADOOP_OPTS="-Dlog4j.configuration=file://${LOG4J_PROPS_LDS}"
  nohup $HADOOP_HOME/bin/hadoop jar /usr/lib/rubix/lib/rubix-bookkeeper-*.jar com.qubole.rubix.bookkeeper.LocalDataTransferServer \
            -conf /etc/rubix/rubix-site.xml &
  PID_LDS=$!
  echo ${PID_LDS} > ${PID_FILE_LDS}
  echo "Starting Local Transfer server with pid ${PID_LDS}"
  sleep 1
}

stop() {
  kill -9 `cat ${PID_FILE_BKS}`
  kill -9 `cat ${PID_FILE_LDS}`
  rm -f ${PID_FILE_BKS}
  rm -f ${PID_FILE_LDS}
}

restart() {
  stop
  start
}
cmd=$1

case "$cmd" in
  start) start;;
  stop) stop;;
  restart) restart;;
  help) usage "" 0;;
  *) usage "ERROR: Incorrect arguments" 1;;
esac

exit 0;
