/*
 CSS to fix table columns not wrapping contents
 Source: https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html
*/
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }

   .wy-nav-content {
       max-width: 1200px !important;
   }
}
